.features
	&__title
		text-align: center
		color: #181818
		+bold
		text-transform: uppercase
		font-size: 36px
		margin-top: 80px
	&__text
		margin-top: 20px
		color: #434547
		+regular
		font-size: 16px
		text-align: center
	&__line
		display: block
		width: 78px
		height: 5px
		background-color: #dbdbdb
		margin: 0 auto
		margin-top: 21px
	&__subtitle
		color: #181818
		+bold
		font-size: 26px
		margin: 91px 0 52px 0
	&__list
		display: flex
		flex-direction: column
		flex-wrap: wrap
		height: 161px
		&-elem
			color: #000000
			+regular
			font-size: 16px
			margin-bottom: 26px
			&:nth-child(4n)
				margin-bottom: 0