.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Forma_1 {
    width: 44px;
    height: 38px;
    background-position: -5px -5px;
}

.sprite-Icon {
    width: 35px;
    height: 39px;
    background-position: -59px -5px;
}

.sprite-backup {
    width: 45px;
    height: 45px;
    background-position: -104px -5px;
}

.sprite-build {
    width: 50px;
    height: 39px;
    background-position: -159px -5px;
}

.sprite-def {
    width: 40px;
    height: 49px;
    background-position: -5px -54px;
}

.sprite-dialog {
    width: 46px;
    height: 38px;
    background-position: -159px -54px;
}

.sprite-f {
    width: 48px;
    height: 48px;
    background-position: -55px -102px;
}

.sprite-icon1 {
    width: 32px;
    height: 32px;
    background-position: -55px -54px;
}

.sprite-icon2 {
    width: 32px;
    height: 32px;
    background-position: -113px -102px;
}

.sprite-icon3 {
    width: 32px;
    height: 32px;
    background-position: -155px -102px;
}

.sprite-icon4 {
    width: 32px;
    height: 32px;
    background-position: -5px -144px;
}

.sprite-icon5 {
    width: 32px;
    height: 32px;
    background-position: -113px -144px;
}

.sprite-icon6 {
    width: 32px;
    height: 32px;
    background-position: -155px -144px;
}

.sprite-icon7 {
    width: 32px;
    height: 32px;
    background-position: -219px -5px;
}

.sprite-icon8 {
    width: 32px;
    height: 32px;
    background-position: -219px -47px;
}

.sprite-in {
    width: 48px;
    height: 48px;
    background-position: -197px -102px;
}

.sprite-man {
    width: 35px;
    height: 39px;
    background-position: -47px -160px;
}

.sprite-screen {
    width: 44px;
    height: 36px;
    background-position: -197px -160px;
}

.sprite-supp {
    width: 45px;
    height: 42px;
    background-position: -92px -206px;
}

.sprite-tw {
    width: 48px;
    height: 48px;
    background-position: -147px -206px;
}
