@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Franklin Gothic Heavy';
  src: url("../font/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.eot");
  src: url("../font/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.eot?#iefix") format("embedded-opentype"), url("../font/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.woff") format("woff"), url("../font/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light/fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light/fonts/OpenSans-Light.eot.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light/fonts/OpenSans-Light.eot.woff") format("woff"), url("../fonts/OpenSans-Light/fonts/OpenSans-Light.eot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#timer__days {
  display: none;
}

#timer__seconds, #timer__minutes, #timer__hours {
  font-size: 58px;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 700;
  color: #88c9ff;
}

.timer__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 72px;
}

.timer__element {
  width: 95px;
  height: 95px;
  border: 2px solid #88c9ff;
  background-color: #0072bc;
  text-align: center;
  margin-right: 13px;
}

.timer__element:last-child {
  margin-right: 0;
}

.timer__text {
  color: #fff;
  font-family: 'Open Sans Regular', sans-serif;
}

@media screen and (max-width: 320px) {
  #timer__seconds, #timer__minutes, #timer__hours {
    font-size: 40px;
  }
  .timer__elements {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
    text-align: center;
  }
  .timer__element {
    width: 70px;
    height: 70px;
  }
  .timer__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .timer__elements {
    padding-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .timer__elements {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 20px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .timer__elements {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .timer__elements {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
    text-align: center;
  }
}

.button {
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.button span {
  position: absolute;
  width: 34px;
  height: 4px;
  display: block;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.button span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: block;
  top: -10px;
  left: 0;
  border-radius: 2px;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.button span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: block;
  top: 10px;
  left: 0;
  border-radius: 2px;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.active span {
  background-color: transparent;
}

.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.active span:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans Regular', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1174px;
  margin: auto;
}

.plan__container {
  max-width: 1500px;
  margin: auto;
}

.trust__container {
  max-width: 1200px;
  margin: auto;
}

.header {
  background: url("../img/header-bg2.png") no-repeat center top #007EE5;
  background-size: contain;
}

.header__logo {
  font-family: 'ITC Franklin Gothic Heavy', sans-serif;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 44px;
  color: #fff;
  font-family: 'Open Sans ExtraBold', sans-serif;
  text-transform: uppercase;
  padding-top: 183px;
  letter-spacing: -1.2px;
}

.header__subtitle {
  font-size: 44px;
  color: #fff;
  text-transform: uppercase;
  margin-top: -30px;
  letter-spacing: -1.2px;
}

.header__vantage {
  list-style-type: none;
  color: #88c9ff;
  font-size: 20px;
  font-weight: 300;
  padding-top: 63px;
}

.header__vantage-bold {
  font-family: 'Open Sans ExtraBold', sans-serif;
}

.header__vantage-icon {
  padding-right: 9px;
}

.header__vantage-light {
  font-family: 'Open Sans Light', sans-serif;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navigation__link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.navigation__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navigation__social-link {
  color: #fff;
  margin-right: 11px;
  padding: 3px;
  border-radius: 4px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.navigation__social-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.navigation__social-link_no-indent {
  margin-right: 0;
}

.form__input {
  width: 308px;
  height: 42px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.45), inset 0 1px 1px rgba(1, 1, 1, 0.15);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.45), inset 0 1px 1px rgba(1, 1, 1, 0.15);
  border: 1px solid #94cfff;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 15px 15px 15px 14px;
  margin: 49px 11px 149px 0;
}

.form__button {
  width: 181px;
  height: 42px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.45);
  background-color: #ffbb05;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  margin-right: 20px;
}

.sprite-icon1 {
  width: 32px;
  height: 32px;
  background-position: -55px -54px;
}

.sprite-icon2 {
  width: 32px;
  height: 32px;
  background-position: -113px -102px;
}

.sprite-icon3 {
  width: 32px;
  height: 32px;
  background-position: -155px -102px;
}

.sprite-icon4 {
  width: 32px;
  height: 32px;
  background-position: -5px -144px;
}

.sprite-icon5 {
  width: 32px;
  height: 32px;
  background-position: -113px -144px;
}

.sprite-icon6 {
  width: 32px;
  height: 32px;
  background-position: -155px -144px;
}

.sprite-icon7 {
  width: 32px;
  height: 32px;
  background-position: -219px -5px;
}

.sprite-icon8 {
  width: 32px;
  height: 32px;
  background-position: -219px -47px;
}

.sprite-supp {
  width: 45px;
  height: 42px;
  background-position: -92px -206px;
}

.sprite-build {
  width: 50px;
  height: 39px;
  background-position: -159px -5px;
}

.sprite-def {
  width: 40px;
  height: 49px;
  background-position: -5px -54px;
}

.sprite-backup {
  width: 45px;
  height: 45px;
  background-position: -104px -5px;
}

.features {
  background: url("../img/Server.png") no-repeat 95% 30%;
  background-size: 40%;
}

.features__title {
  text-align: center;
  color: #181818;
  font-family: 'Open Sans ExtraBold', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 80px;
}

.features__text {
  margin-top: 20px;
  color: #434547;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  text-align: center;
}

.features__line {
  display: block;
  width: 78px;
  height: 5px;
  background-color: #dbdbdb;
  margin: 0 auto;
  margin-top: 21px;
}

.features__subtitle {
  color: #181818;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 26px;
  margin: 91px 0 52px 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
  width: 831px;
}

.features__list-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.features__list-elem:nth-child(4n) {
  margin-bottom: 0;
}

.features__list-text {
  color: #000000;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.features__vantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__vantage-elem {
  border: 1px solid #cccccc;
  margin: 146px 65px 83px 0;
  text-align: center;
  position: relative;
  padding: 70px 30px 35px 30px;
}

.features__vantage-elem:last-child {
  margin-right: 0;
}

.features__vantage-wrap {
  position: absolute;
  top: -35px;
  left: -35px;
  width: 70px;
  height: 70px;
  border: 1px solid #cccccc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.features__vantage-img1 {
  position: absolute;
  top: -25px;
  left: -23px;
}

.features__vantage-img2 {
  position: absolute;
  top: -23px;
  left: -27px;
}

.features__vantage-img3 {
  position: absolute;
  top: -25px;
  left: -20px;
}

.features__vantage-img4 {
  position: absolute;
  top: -23px;
  left: -20px;
}

.features__vantage-title {
  margin-bottom: 12px;
  color: #18191a;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.features__vantage-text {
  color: #a2a2a2;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.39px;
}

.sprite-man {
  width: 35px;
  height: 39px;
  background-position: -47px -160px;
}

.sprite-screen {
  width: 44px;
  height: 36px;
  background-position: -197px -160px;
}

.sprite-dialog {
  width: 46px;
  height: 38px;
  background-position: -159px -54px;
}

.sprite-forma {
  width: 44px;
  height: 38px;
  background-position: -5px -5px;
}

.sprite-man, .sprite-screen, .sprite-dialog, .sprite-forma {
  margin-right: 0;
  margin: 0 0 21px 0;
}

.progress {
  background: url("../img/bg - server.png") no-repeat 50% 50%;
  background-size: cover;
}

.progress__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 86px;
}

.progress__line {
  width: 4px;
  height: 30px;
  background-color: #269dff;
}

.progress__number {
  color: #a9d8ff;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -0.64px;
  padding-bottom: 21px;
}

.progress__text {
  color: #a9d8ff;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 91px;
}

.plan__title {
  color: #181818;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 90px;
  text-align: center;
}

.plan__text {
  color: #434547;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-top: 22px;
}

.plan__line {
  display: block;
  width: 78px;
  height: 5px;
  background-color: #dbdbdb;
  margin: 0 auto;
  margin-top: 21px;
}

.plan__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 71px 0 0 0;
  padding-bottom: 100px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.offer:hover {
  background-color: #f0f0f0;
}

.offer__title {
  color: #3c444f;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.14px;
  margin-top: 70px;
}

.offer__line {
  width: 309px;
  height: 2px;
  background-color: #007ee5;
  margin-top: 19px;
  position: relative;
  margin-bottom: 72px;
}

.offer__line:after {
  content: "";
  position: absolute;
  left: 30%;
  width: 122px;
  height: 2px;
  background-color: #ff9d1d;
}

.offer__price {
  color: #007ee5;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.offer__price-number {
  font-size: 84px;
}

.offer__stats {
  margin-top: 26px;
  padding: 0 30px 0 30px;
}

.offer__info {
  color: #788697;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 23px;
  font-weight: 400;
  padding: 25px 33px 25px 33px;
  border-bottom: 1px solid #d7d8dc;
  text-align: center;
}

.offer__bold {
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-weight: 700;
}

.offer__button {
  color: #3c444f;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 17px 56px 17px 56px;
  border: 3px solid #3c444f;
  text-decoration: none;
  border-radius: 50px 50px 50px 50px;
  margin: 131px 0 85px 0;
  -webkit-transition: background-color .5s ease, border-color .5s ease;
  transition: background-color .5s ease, border-color .5s ease;
}

.offer__button:hover {
  background-color: #fac212;
  border-color: #fac212;
}

.line-1:after {
  background-color: #e7e7e7;
}

.line-3:after {
  background-color: #bed194;
}

.feedback {
  background: url("../img/feedback-bg.png") no-repeat 50% 50%;
  background-size: cover;
}

.feedback__title {
  color: #ffffff;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.29px;
  text-align: center;
  padding-top: 88px;
}

.feedback__text {
  color: #ffffff;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32.06px;
  margin-top: 20px;
  text-align: center;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.feedback__content-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 60px;
}

.feedback__content-name {
  color: #fefefe;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: -0.13px;
  margin-top: 20px;
}

.feedback__content-company-name {
  color: #dbdbdb;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 9px;
}

.feedback__content-text {
  color: #ffffff;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 23px;
  margin: 31px 0 85px 0;
  text-align: center;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -50px;
}

.owl-nav .owl-prev span {
  font-size: 80px;
  color: #fff;
}

.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -50px;
}

.owl-nav .owl-next span {
  font-size: 80px;
  color: #fff;
}

.trust__title {
  color: #181818;
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: -0.87px;
  text-align: center;
  margin-top: 70px;
}

.trust__text {
  text-shadow: 0 1px 0 #ffffff;
  color: #434547;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-top: 19px;
}

.trust__line {
  display: block;
  width: 78px;
  height: 5px;
  background-color: #dbdbdb;
  margin: 0 auto;
  margin-top: 21px;
}

.trust__gallery {
  margin: 50px 0 118px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .header {
    background: url("../img/header-bg2.png") no-repeat center top #007EE5;
  }
  .header__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__title {
    font-size: 35px;
    padding-top: 50px;
    padding-left: 10px;
  }
  .header__subtitle {
    font-size: 30px;
    margin-top: -30px;
    padding-left: 10px;
  }
  .header__vantage {
    font-size: 20px;
    padding: 15px 0 0 10px;
  }
  .navigation__link {
    margin-right: 0;
    padding: 7px;
  }
  .navigation__social {
    margin-left: 25px;
  }
  .form__wrap {
    padding-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    background: url("../img/header-bg2.png") no-repeat center top #007EE5;
  }
  .header__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__title {
    font-size: 35px;
    padding-top: 50px;
    padding-left: 10px;
  }
  .header__subtitle {
    font-size: 30px;
    margin-top: -30px;
    padding-left: 10px;
  }
  .header__vantage {
    font-size: 20px;
    padding: 15px 0 0 10px;
  }
  .navigation__link {
    margin-right: 0;
    padding: 7px;
  }
  .navigation__social {
    margin-left: 25px;
  }
  .form__wrap {
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
  }
  .header {
    background-image: none;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
  }
  .header__title {
    font-size: 26px;
    padding-left: 10px;
    padding-top: 160px;
  }
  .header__subtitle {
    font-size: 26px;
    margin-top: -20px;
    padding-left: 10px;
  }
  .header__vantage {
    font-size: 15px;
    padding: 15px 0 0 10px;
  }
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 10px;
    top: 60px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  .navigation__link {
    font-size: 17px;
    margin-right: 0;
  }
  .navigation__item {
    margin-top: 10px;
    display: inline-block;
  }
  .navigation__social {
    margin: 10px 0 0 5px;
  }
  .dropdown {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    position: absolute;
    right: 0;
  }
  .form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__input {
    width: 295px;
    margin: 20px 0 10px 0;
  }
  .form__button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
  }
  .header {
    background: #007EE5;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
  }
  .header__vantage {
    font-size: 15px;
    padding: 15px 0 0 10px;
  }
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 10px;
    top: 60px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  .navigation__link {
    font-size: 17px;
    margin-right: 0;
  }
  .navigation__item {
    margin-top: 10px;
    display: inline-block;
  }
  .navigation__social {
    margin: 10px 0 0 5px;
  }
  .dropdown {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
  }
  .header {
    background: #007EE5;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
  }
  .header__title {
    font-size: 26px;
    padding-left: 10px;
    padding-top: 160px;
  }
  .header__subtitle {
    font-size: 26px;
    margin-top: -20px;
    padding-left: 10px;
  }
  .header__vantage {
    font-size: 15px;
    padding: 15px 0 0 10px;
  }
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 10px;
    top: 60px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  .navigation__link {
    font-size: 17px;
    margin-right: 0;
  }
  .navigation__item {
    margin-top: 10px;
    display: inline-block;
  }
  .navigation__social {
    margin: 10px 0 0 5px;
  }
  .dropdown {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    position: absolute;
    right: 0;
  }
  .form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__input {
    width: 295px;
    margin: 20px 0 10px 0;
  }
  .form__button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .features {
    background: url("../img/Server.png") no-repeat 100% 30%;
    background-size: 34%;
  }
  .features__subtitle {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
  }
  .features__vantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 600px;
  }
  .features__vantage-elem {
    margin: 40px 0 20px 0;
    width: 231px;
    height: 181px;
  }
}

@media screen and (max-width: 992px) {
  .features {
    background: none;
  }
  .features__title {
    font-size: 25px;
    margin-top: 20px;
  }
  .features__subtitle {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
  }
  .features__list {
    width: 700px;
    margin: 0 auto 0 auto;
  }
  .features__vantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 600px;
  }
  .features__vantage-elem {
    margin: 40px 0 20px 0;
    width: 231px;
    height: 181px;
  }
}

@media screen and (max-width: 768px) {
  .features {
    background: none;
  }
  .features__title {
    font-size: 25px;
    margin-top: 20px;
  }
  .features__text {
    margin-top: 10px;
    font-size: 14px;
  }
  .features__subtitle {
    text-align: center;
    margin-top: 40px;
  }
  .features__list-elem:nth-child(4n) {
    margin-bottom: 26px;
  }
  .features__vantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 600px;
  }
  .features__vantage-elem {
    margin: 40px 0 20px 0;
    width: 231px;
    height: 181px;
  }
}

@media screen and (max-width: 700px) {
  .features {
    background: none;
  }
  .features__title {
    font-size: 25px;
    margin-top: 20px;
  }
  .features__text {
    margin-top: 10px;
    font-size: 14px;
  }
  .features__subtitle {
    text-align: center;
    margin-top: 40px;
  }
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__list-elem:nth-child(4n) {
    margin-bottom: 26px;
  }
  .features__vantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .features__vantage-elem {
    margin: 60px 0 20px 0;
    padding: 40px 15px 40px 15px;
  }
}

@media screen and (max-width: 480px) {
  .features {
    background: none;
  }
  .features__title {
    font-size: 25px;
    margin-top: 20px;
  }
  .features__text {
    margin-top: 10px;
    font-size: 14px;
  }
  .features__subtitle {
    text-align: center;
    margin-top: 40px;
  }
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__list-elem:nth-child(4n) {
    margin-bottom: 26px;
  }
  .features__vantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20% 0 20%;
  }
  .features__vantage-elem {
    margin: 60px 0 20px 0;
    padding: 40px 15px 40px 15px;
  }
}

@media screen and (max-width: 320px) {
  .features {
    background: none;
  }
  .features__title {
    font-size: 25px;
    margin-top: 20px;
  }
  .features__text {
    margin-top: 10px;
    font-size: 14px;
  }
  .features__subtitle {
    margin-top: 40px;
  }
  .features__list {
    height: auto;
    width: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .features__list-elem:nth-child(4n) {
    margin-bottom: 26px;
  }
  .features__vantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 50px 0 50px;
  }
  .features__vantage-elem {
    margin: 60px 0 20px 0;
    padding: 40px 15px 20px 15px;
  }
}

@media screen and (max-width: 768px) {
  .progress__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 600px;
  }
  .progress__line {
    width: 30px;
    height: 4px;
  }
  .progress__line:nth-of-type(2) {
    display: none;
  }
  .progress__block {
    margin-top: 40px;
  }
  .progress__text {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .progress__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .progress__line {
    width: 30px;
    height: 4px;
  }
  .progress__block {
    margin-top: 40px;
  }
  .progress__text {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .plan__title {
    font-size: 25px;
    margin-top: 20px;
  }
  .plan__text {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
  }
  .plan__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .trust__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .trust__img {
    width: 300px;
    height: 100px;
  }
}
/*# sourceMappingURL=main.css.map */